journal.zst
work/
test_data

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.env
*.venv
.venv/
env/
venv/
ENV/
.Python
*.egg-info/
dist/
build/
*.sqlite3
*.log

# Rust
rust/target/
rust/Cargo.lock

# VSCode
.vscode/
.history/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
*.tfplan
*.backup

# General
.DS_Store
Thumbs.db
